.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    height: 12.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.header .logo {
    display: flex;
    justify-content: center;
    width: 9.25rem;
    margin: 5rem 0;
}

.header img {
    height: 2.5rem;
    width: 1.37rem;
    margin-right: 0.75rem;
}

.header .to {
    color: var(--blue);
}

.header .do {
    color: var(--purple);

}