.newTask {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: calc(0px - 1.5rem - 6px);
}

.newTask input {
    height: 3.37rem;
    width: 100%;
    padding: 1rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    outline: none;
    color: var(--gray-100);
}

.newTask input:hover {
    outline: 2px solid var(--blue);
}

.newTask button[type=submit] {
    height: 3.25rem;
    padding: 1rem;
    margin-left: 8px;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 8px;
    color: var(--gray-100);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    transition: color 0.2s, background-color 0.2s;
}

.newTask button[type=submit]:not(:disabled):hover {
    background-color: var(--blue);
}

.newTask button:disabled {
    background-color: var(--gray-500);
    color: var(--gray-300);
    cursor: not-allowed;
}

.newTask button span {
    font-size: 0.87rem;
    font-weight: bold;
}


.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.info span {
    display: inline-block;
    font-size: 0.75rem;
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 1rem;
    padding: 3px 8px;
    margin: 3px 8px;
}

.info .counterCreated {
    color: var(--blue);
}

.info .counterDone {
    color: var(--purple)
}

.taskList {
    width: 100%;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--gray-300);    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.empty {
    width: 100%;
    border-top: 1px solid var(--gray-400);
    font-size: 1rem;
    color: var(--gray-300);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.empty img {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.empty strong {
    font-weight: bold;

}